RewriteEngine On


DirectoryIndex index.php
php_value date.timezone "Asia/Baku"
AddDefaultCharset utf-8



RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://tendirmendir.az/$1 [R,L]


RewriteRule ^targovi(/?)+$ menu.php?get=clopos1 [L]
RewriteRule ^iceriseher(/?)+$ menu.php?get=clopos2 [L]
RewriteRule ^nerimanov(/?)+$ menu.php?get=clopos3 [L]